{% extends 'layout_pro.html.twig' %}

{% block title %}Liste des services{% endblock %}

{% block content %}
    <h1 class="text-center p-3">Liste des services</h1>
    <div class="d-md-flex justify-content-end">
        <a href="{{ path('app_service_new') }}" class="btn btn-primary">Ajouter une prestation</a>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col"> </th>
            </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                    <th scope="row">{{ service.nom }}</th>
                    <td class="text-truncate" style="max-width: 150px;">{{ service.description }}</td>
                    <td class="d-md-flex justify-content-md-end">
                        <a href="{{ path('app_service_edit', { 'id': service.id }) }}" class="btn btn-primary me-2">Modifier</a>
                        {{ include('service/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Pas encore de services</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}