{% extends 'layout_pro.html.twig' %}

{% block title %}Vehicule index{% endblock %}

{% set queryParams = app.request.query.all %}
{% block content %}
    <script>
        window.onload = function () {
            const form = document.querySelector('form');
            const pageField = document.querySelector('#page')
            form.addEventListener('change', function () {
                pageField.value = '1';
            });
        }
    </script>
    <h1>Vehicule index</h1>
    <div>There are {{ vehicules|length }} vehicules.</div>
    <div class="row">
        <div class="col-6">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit">Test</button>
            {{ form_end(form) }}
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Marque</th>
                <th>Modele</th>
                <th>Kilometre</th>
                <th>Prix</th>
                <th>Annee</th>
                <th>Boite</th>
                <th>Portes</th>
                <th>Couleur</th>
                <th>Puissance</th>
                <th>Carburant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.marque }}</td>
                <td>{{ vehicule.modele }}</td>
                <td>{{ vehicule.kilometre }}</td>
                <td>{{ vehicule.prix }}</td>
                <td>{{ vehicule.annee }}</td>
                <td>{{ vehicule.boite }}</td>
                <td>{{ vehicule.portes }}</td>
                <td>{{ vehicule.couleur }}</td>
                <td>{{ vehicule.puissance }}</td>
                <td>{{ vehicule.carburant.type }}</td>
                <td>
                    <a href="{{ path('app_vehicule_show', {'slug': vehicule.slug}) }}">show</a>
                    <a href="{{ path('app_vehicule_edit', {'slug': vehicule.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if previous >= 1 %}
        <a href="{{ path('app_vehicule_index', queryParams|merge({page: previous})) }}">Previous</a>
    {% endif %}
    {% if next != 0 %}
        <a href="{{ path('app_vehicule_index', queryParams|merge({page: next})) }}">Next</a>
    {% endif %}

    <a href="{{ path('app_vehicule_new') }}">Create new</a>
{% endblock %}
