{% extends 'base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('uploader') }}
 {% endblock %}

 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('uploader') }}
 {% endblock %}

{% block title %}Ajouter photos au Véhicule{% endblock %}

{% block body %}
    <h1>Ajouter des photos au véhicule</h1>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div id="uppy-dashboard"></div>

                <a href="{{ path('app_vehicule_index') }}">back to list</a>
            </div>
            <div class="col-4">
                {% for photo in vehicule.photos %}
                    <img src="{{ asset('uploads/photos/' ~ photo.filename) }}" alt="test" height="50px"/>
                {% endfor %}
            </div>
        </div>
        {{ form_start(form) }}
            {{ form_row(form._token) }}
            {{ form_row(form.vehicule) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
