{% extends 'layout.html.twig' %}

{% block title %}Vehicule{% endblock %}

{% block main %}
    <main class="container-fluid p-3">
        <div class="container m-3 text-center">
            <div class="row d-md-flex justify-content-center p-3">
                <div id="carouselGarage" class="carousel slide">
                    <div class="carousel-indicators">
                        {% for photo in vehicule.photos %}
                            <button type="button" data-bs-target="#carouselGarage" data-bs-slide-to="{{ loop.index0 }}" class="{% if loop.first %}active{% endif %}"
                                    aria-current="true" aria-label="Slide {{ loop.index }}">
                            </button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for photo in vehicule.photos %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img src="{{ asset('uploads/photos/' ~ photo.filename) }}" alt="test" width="100%" class="shadow object-fit-cover" style="width: 600px; height: 400px;aspect-ratio: 4 / 3;"/>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselGarage"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Précédent</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselGarage"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Suivant</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <h2 class="text-start pt-2">{{ vehicule.marque }} {{ vehicule.modele }}</h2>
                <ul class="col-sm-6">
                    <li class="text-start">Carburant : {{ vehicule.carburant.type }}</li>
                    <li class="text-start">Kilométrage : {{ vehicule.kilometre }}</li>
                    <li class="text-start">Année : {{ vehicule.annee }}</li>
                    <li class="text-start">Boîte : {{ vehicule.boite }}</li>
                </ul>
                <ul class="col-sm-6">
                    <li class="text-start">Couleur : {{ vehicule.couleur }}</li>
                    <li class="text-start">Puissance : {{ vehicule.puissance }}</li>
                    <li class="text-start">{{ vehicule.portes}} Portes </li>
                </ul>
                <h2 class="text-end">Prix {{ vehicule.prix }}€</h2>
                <div>
                    <p>Equipement et options</p>
                    <p>
                        {{ vehicule.equipement }}
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center w-100 rounded" style="background-color: #f0c542;">
            <h2>Ce véhicule vous intéresse ?<br>Contactez notre atelier</h2>
            <div class="container p-3 rounded">
                <div class="row fw-bolder align-items-stretch" style="color: #24393e;">
                    <div class="col-4 rounded d-flex align-items-center justify-content-center flex-column" style="background-color: #24393e; color: #f0c542;">
                        <div>
                            <img src="{{ asset('assets/logo-garage.png') }}" style="width: 120px;" alt="logo-garage"/>
                        </div>
                        <div>
                            <i class="bi bi-telephone"></i><span class="d-inline-block ps-3 pb-3">05 71 52 01 86</span>
                        </div>
                        <div class="text-center">
                            <i class="bi bi-geo-alt"></i><span class="d-inline-block ps-3">74 rue de Georges,</span><br>
                            <span>31000 Toulouse</span>
                        </div>
                        <div>
                            <i class="bi bi-envelope"></i><span class="d-inline-block ps-3 pt-3">contact@garagevparrot.fr</span>
                        </div>
                    </div>
                    <div class="col-8 rounded">
                        {{ render(controller('App\\Controller\\MessageController::contact_voiture', { sujet: "#{vehicule.marque} #{vehicule.modele}"})) }}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
