{% extends 'layout.html.twig' %}

{% block title %}Garage V. Parrot{% endblock %}

{% block main %}
    <main class="container-fluid p-3">
        <div class="d-md-flex justify-content-center p-3">
            <div id="carouselGarage" class="carousel slide w-100">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselGarage" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselGarage" data-bss-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselGarage" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ asset('assets/occasionslide.jpg') }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Nos voitures d'occasion</h1>
                            <p>Venez découvrir toutes nos voitures en vente</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('assets/avis.jpg') }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Donnez votre avis</h1>
                            <p>Nous sommes à l'écoute</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('assets/contact.jpg') }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Contactez nous</h1>
                            <p>Avez vous besoin de renseignements ?</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselGarage"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselGarage"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="p-3">
            <div class="text-center">
                <h2>DÉCOUVREZ LES PRESTATIONS PROPOSÉES PAR LES RÉPARATEURS DU GARAGE V.PARROT</h2>
                <span class="fs-5">Nos réparateurs s’occupent de la réparation et l’entretien de votre voiture, peu importe la marque ou le modèle de celle-ci.
                    <br>
                    Profitez d’une prestation de qualité effectuée par des véritables experts auto.
                </span>
            </div>
        </div>
        <div class="d-md-flex justify-content-center p-3" style="background-color: #24393e;">
            <div id="carouselServices" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {{ render(controller('App\\Controller\\ServiceController::services')) }}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselServices"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselServices" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="trouver-voiture p-3">
            <h2 class="text-center">Trouvez votre voiture</h2>

            {{ render(controller('App\\Controller\\VehiculeController::vehicules', {max: 3})) }}

            <div class="d-md-flex justify-content-center pt-3">
                <a class="btn btn-primary btn-lg me-md-3" href="{{ path("app_vehicule_index") }}" role="button">Voir plus</a>
            </div>
        </div>

        <div class="p-3">
            <h2 class="text-center">Nos clients nous recommandent</h2>
            <div class="text-center fs-4">
                <div class="fs-4">{{ note_moyenne }} / 5</div>

                {% set rounded_note = note_moyenne|round %}
                {% set star = 'fill' %}
                {% for i in range(1, 5) %}
                    {% if i < rounded_note %}
                        {% set star = '-fill' %}
                    {% elseif rounded_note < i < note_moyenne %}
                        {% set star = '-half' %}
                    {% else %}
                        {% set star = '' %}
                    {% endif %}
                    <i class="bi bi-star{{ star }}"></i>
                {% endfor %}
            </div>
            <div class="row p-3">
                {{ render(controller('App\\Controller\\AvisController::derniers_avis', {max: 4})) }}
            </div>
            <div class="d-md-flex justify-content-center p-3">
                <a class="btn btn-primary btn-lg" href="{{ path('app_avis_client') }}" role="button">Laisser votre avis</a>
            </div>
        </div>
    </main>
{% endblock %}
