{% extends 'layout_pro.html.twig' %}

{% block title %}Avis Client{% endblock %}

{% block content %}
    <h1 class="text-center p-3">Avis Client</h1>
    <div>
        <span>Nom du client: {{ avis.nom }}</span>
    </div>
    <div>
        <span>Date de la visite: {{ avis.dateVisite ? avis.dateVisite|date('Y-m-d') : '' }}</span>
    </div>
    <div>
        <span>Titre: {{ avis.titre }}</span>
    </div>
    <div>
        <span>Message:</span>
        <p>{{ avis.commentaire }}</p>
    </div>

    {{ include('avis/_form.html.twig', { button_label: 'Valider', back_button: true}) }}

{% endblock %}
