{% extends 'layout_pro.html.twig' %}

{% block title %}Editer les horaires{% endblock %}

{% block content %}
    <script>
        window.onload = function () {

        }
    </script>
    <h1 class="text-center p-3">Editer les horaires</h1>
    <div class="alert alert-primary" role="alert">
        Pour éditer les horaires, vous pouvez cocher les jours où vous êtes ouvert.
        La première ligne de chaque jour vous permet de gérer la première ouverture. Si vous êtes ouvert non-stop,
        vous pouvez configurer seulement la première.
        Si la ligne contient deux fois 00:00, celle-ci est considéré comme fermée.
    </div>

    {{ form_start(form) }}

    <div class="horaires">
        {% for horaire in form.horaires %}
            <div class="row">
                <div class="col-md-2 d-flex align-items-center">
            {{ form_errors(horaire) }}
            {{ form_row(horaire.ouverture, {label: list_horaires[loop.index0].nomJour}) }}
                </div>
                <div class="col-auto">
                    <div class="row py-2">
                    {% for slot in horaire.children %}
                        {% if slot is not same as (horaire.ouverture) %}
                        <div class="col-md-6 py-1">
                        {{ form_widget(slot) }}
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-end">
        <button class="btn btn-primary me-3" style="width: 140px;">{{ button_label|default('Sauvegarder') }}</button>
    </div>
    {{ form_end(form) }}

{% endblock %}
