{% extends 'base.html.twig' %}

{% block title %}Horaires{% endblock %}

{% block body %}
    <h1>Horaires</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ horaire.id }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ horaire.position }}</td>
            </tr>
            <tr>
                <th>Nom_jour</th>
                <td>{{ horaire.nomJour }}</td>
            </tr>
            <tr>
                <th>Ouverture</th>
                <td>{{ horaire.ouverture ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Horaires</th>
                <td>{{ horaire.horaires ? horaire.horaires|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_horaires_index') }}">back to list</a>

    <a href="{{ path('app_horaires_edit', {'id': horaire.id}) }}">edit</a>

    {{ include('horaires/_delete_form.html.twig') }}
{% endblock %}
