{{ form_start(form) }}
<div class="row g-3 p-3">
    <div class="col-md-6">
        <div class="row">
            {{ form_row(form.nom, { label: 'Votre nom'}) }}
        </div>
        <div class="row">
            {{ form_row(form.telephone, { label: 'Votre numéro de téléphone'}) }}
        </div>
        <div class="row">
            {{ form_row(form.email, { label: 'Votre adresse email'}) }}
        </div>
    </div>
    <div class="col-md-6 big-textarea">
        {{ form_row(form.message, { label: 'Votre message'}) }}
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
    <input type="hidden" name="message[sujet]" value="{{ field_value(form.sujet) }}"/>
    {% do form.sujet.setRendered() %}

</div>
{{ form_end(form) }}