{% extends 'layout_pro.html.twig' %}

{% block title %}Message index{% endblock %}

{% set queryParams = app.request.query.all %}
{% block body %}
    <script>
        window.onload = function () {
            const pageField = document.querySelector('#form_showUnread')
            const form = document.querySelector('form');
            pageField.addEventListener('change', function () {
                pageField.value = '1';
                form.submit();
            });
        }
        // TODO: we can simply submit the format if the switch changes!!
    </script>
    <h1>Message index</h1>
    <div>There are {{ messages|length }} messages.</div>
    <div class="row">
        <div class="col-6">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Sujet</th>
                <th>Message</th>
                <th>Lu</th>
                <th>Envoyé à</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.nom }}</td>
                <td>{{ message.email }}</td>
                <td>{{ message.telephone }}</td>
                <td>{{ message.sujet }}</td>
                <td>{{ message.message }}</td>
                <td>{{ message.lu ? 'Yes' : 'No' }}</td>
                <td>{{ message.sentAt ? message.sentAt|date('Y-m-d H:i:s', 'Europe/Paris') : '' }}</td>
                <td>
                    <a href="{{ path('app_message_show', {'id': message.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if previous >= 1 %}
        <a href="{{ path('app_message_index', queryParams|merge({page: previous})) }}">Previous</a>
    {% endif %}
    {% if next != 0 %}
        <a href="{{ path('app_message_index', queryParams|merge({page: next})) }}">Next</a>
    {% endif %}
{% endblock %}
