{% extends 'layout_pro.html.twig' %}

{% block title %}Message {{ message.sujet }}{% endblock %}

{% block content %}
    <h1 class="text-center p-3">Message client</h1>
    <div class="text-start">
        <ul>
            <li>Nom: {{ message.nom }}</li>
            <li>Envoyé à: {{ message.sentAt ? message.sentAt|date('Y-m-d H:i:s', 'Europe/Paris') : '' }}</li>
            <li>Mail: {{ message.email }}</li>
            <li>Numéro de téléphone: {{ message.telephone }}</li>
            <li><strong>Sujet: {{ message.sujet }}</strong></li>
        </ul>
        <hr>
        <p>{{ message.message }}</p>
        <hr>
    </div>
    <div class="d-flex justify-content-between">
        <a href="{{ path('app_message_index') }}" class="btn btn-primary">Retour aux messages</a>
        {{ include('message/_delete_form.html.twig') }}
    </div>

{% endblock %}
